extends layout

block title
  title The Code Barbarian | www.thecodebarbarian.com

block content
  div.container
    div.col-lg-12.hero-row
      a(href="#{posts[0].dest.directory.substr('./bin'.length) + '/' + posts[0].dest.name}.html")
        div.col-lg-8
          div.row
            div.col-lg-12.hero-image(style="background-image:url('#{posts[0].image || '/images/Barbarian_Head.png'}');")
            div.row
              div.col-lg-12
                h1.hero-title
                  | #{posts[0].title}
              div.title-byline-container
                div.hero-credits
                  | #{posts[0].date.format('MMMM DD, YYYY')}
        div.col-lg-4.home-popular
          p.right-bar-label#home-popular-label All Time Most Popular 
            ul.list-unstyled
              li.right-bar-li
                a(href="http://thecodebarbarian.com/2015/01/24/angularjs-interceptors.html")
                  | An 80/20 Guide to AngularJS HTTP Interceptors
              li.right-bar-li
                a(href="http://thecodebarbarian.com/2015/01/17/angularjs-loopback.html")
                  | Creating REST APIs and Clients with LoopBack and AngularJS
              li.right-bar-li
                a(href="http://thecodebarbarian.com/cursors-in-mongoose-45")
                  | Cursors in Mongoose 4.5
              li.right-bar-li
                a(href="http://thecodebarbarian.com/2015/03/20/callback-hell-is-a-myth")
                  | Callback Hell is a Myth
              li.right-bar-li
                a(href="http://thecodebarbarian.com/2015/06/12/testing-angularjs-directives")
                  | Testing AngularJS Directives

    div.col-lg-12
      div.row
        p.home-grid-label Most Recent
      - for post, i in posts
        - if ( i < 7 && i != 0 )
          div.col-lg-4.home-post-grid-member
            a(href="#{post.dest.directory.substr('./bin'.length) + '/' + post.dest.name}.html")
              div.home-post-image(style="background-image:url('#{post.image || '/images/Barbarian_Head.png'}');")
              h3.home-post-title
                | #{post.title}
              div.home-date
                | #{post.date.format('MMMM DD, YYYY')}
              div.home-preview
                em !{post.preview}

      div.row
        div.pull-right
          a(href="/page/1") Older Articles >>
