extends layout

block title
  title The Code Barbarian | www.thecodebarbarian.com

  script(data-ad-client="ca-pub-3363884883634732" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

block content
  div#carbonads-fixed
    script( type="text/javascript"
            src="//cdn.carbonads.com/carbon.js?serve=CKYI5K3Y&placement=thecodebarbariancom"
            id="_carbonads_js")
  div.container
    div.col-lg-12.hero-row
      a(href=posts[0].dest.directory.substr('./bin'.length) + '/' + posts[0].dest.name + '.html')
        div.col-lg-8
          div.row
            div.col-lg-12.hero-image(style="background-image:url('" + (posts[0].image || '/images/Barbarian_Head.png') + "');")
            div.row
              div.col-lg-12
                h1.hero-title
                  | #{posts[0].title}
              div.title-byline-container
                div.hero-credits
                  | #{posts[0].date.format('MMMM DD, YYYY')}
        div.col-lg-4.home-popular
          p.right-bar-label#home-popular-label Most Popular 
            ul.list-unstyled
              li.right-bar-li
                a(href="http://thecodebarbarian.com/common-async-await-design-patterns-in-node.js.html")
                  | Common Async/Await Design Patterns in Node.js
              li.right-bar-li
                a(href="http://thecodebarbarian.com/unhandled-promise-rejections-in-node.js.html")
                  | Unhandled Promise Rejections in Node.js
              li.right-bar-li
                a(href="http://thecodebarbarian.com/80-20-guide-to-async-await-in-node.js.html")
                  | The 80/20 Guide to Async/Await in Node.js
              li.right-bar-li
                a(href="http://thecodebarbarian.com/getting-started-with-webassembly-in-node.js.html")
                  | Getting Started With WebAssembly in Node.js
              li.right-bar-li
                a(href="http://thecodebarbarian.com/2015/01/24/angularjs-interceptors.html")
                  | An 80/20 Guide to AngularJS HTTP Interceptors

    div.col-lg-12
      div.row
        p.home-grid-label Most Recent
      for post, i in posts
        - if ( i < 7 && i != 0 )
          div.col-lg-4.home-post-grid-member
            a(href=post.dest.directory.substr('./bin'.length) + '/' + post.dest.name + '.html')
              div.home-post-image(style="background-image:url('" + (post.image || '/images/Barbarian_Head.png') + "');")
              h3.home-post-title
                | #{post.title}
              div.home-date
                | #{post.date.format('MMMM DD, YYYY')}
              div.home-preview
                em !{post.preview}

      div.row
        div.pull-right
          a(href="/page/1") Older Articles >>
    
    div.col-lg-12
      p.home-grid-label(style="margin-top: 2em") Sponsors

      div.row
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://www.casimoose.ca/" rel="sponsored")
            img(src="https://codebarbarian-images.s3.amazonaws.com/casimoose.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://honeyhost.net/" rel="sponsored")
            img(src="https://images.opencollective.com/honeyhost/f8f8880/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://www.gambledex.com/" rel="sponsored")
            img(src="https://images.opencollective.com/gambledex/33b0936/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://www.wagerdex.com/" rel="sponsored")
            img(src="https://images.opencollective.com/wagerdex/780ea73/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://starwarscasinos.com/" rel="sponsored")
            img(src="https://images.opencollective.com/casino-utan-svensk-licens1/f3487ff/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://anbefaltcasino.com/" rel="sponsored")
            img(src="https://images.opencollective.com/anbefaltcasino-com/ab21410/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://hollandsegokken.nl/" rel="sponsored")
            img(src="https://images.opencollective.com/hollandsegokken-nl/7a3d90c/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://nettcasinobonus.com/" rel="sponsored")
            img(src="https://images.opencollective.com/nettcasinobonus-com1/cda67bd/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://casinopilot24.com/" rel="sponsored")
            img(src="https://images.opencollective.com/casinopilot-24/0677bce/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://nettikasinolista.com/" rel="sponsored")
            img(src="https://images.opencollective.com/nettikasinolista/fd361ee/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://celltrackingapps.com/" rel="sponsored")
            img(src="https://images.opencollective.com/celltrackingapps/e6b5cee/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style="padding: 2em; text-align: center;")
          a(href="https://list.casino/" rel="sponsored")
            img(src="https://images.opencollective.com/list-casino/5d33a45/logo/256.png" style="max-height: 100px")
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://nuovicasinoitalia.it/', rel='sponsored')
            img(src='https://codebarbarian-images.s3.amazonaws.com/nuovi-casino-online-italiani.png', alt='nuovi casino online italiani', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://newcasinouk.com/', rel='sponsored')
            img(src='https://codebarbarian-images.s3.amazonaws.com/new-online-casino.png', alt='new online casino', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://slotsempire.com/', rel='sponsored')
            img(src='https://images.opencollective.com/slots-empire/3e98199/logo/256.png', style='max-height: 100px', alt='SLOTSEMPIRE.com')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.correctcasinos.com/crypto-currency-casinos/', rel='sponsored')
            img(src='https://images.opencollective.com/correct-casinos/7cce33a/avatar/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://quickbooksfiledoctor.co/', rel='sponsored')
            img(src='https://quickbooksfiledoctor.co/wp-content/uploads/2022/02/cropped-imageedit_2_4805135166.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.fast.bet/ca/', rel='sponsored')
            img(src='https://images.opencollective.com/fastbet/95ec195/logo/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://betpokies.com/', rel='sponsored')
            img(src='https://images.opencollective.com/betpokies/147f64c/avatar/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.casinosansdepot.com/toursgratuitesmachineasous.html', rel='sponsored')
            img(src='https://codebarbarian-images.s3.amazonaws.com/logocasinosansdepot.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.sure.bet/casinos-not-on-gamstop/', rel='sponsored')
            img(src='https://images.opencollective.com/surebet/a2fecb2/avatar/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://rotativka.com/onlain-kazina/', rel='sponsored')
            img(src='https://images.opencollective.com/rotativka/7a1752f/avatar/256.png', alt='Online Kazina Bulgaria', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.casinoaustraliaonline.com/payid-casinos/', rel='sponsored')
            img(src='https://images.opencollective.com/payid-casinos-australia/b67dfd9/logo/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://no-verification.casino/poker/', rel='sponsored')
            img(src='https://images.opencollective.com/no-verification-casino/11b072c/avatar/256.png', alt="Anonymous poker sites", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://onlinecasinoprofy.com/en/crypto-gambling/', rel='sponsored')
            img(src='https://images.opencollective.com/onlinecasinoprofy/85c222c/avatar/256.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://cryptocasinos360.com/', rel='sponsored')
            img(src='https://images.opencollective.com/cryptocasinos360-com/a041748/avatar/256.png?height=256', style='max-height: 100px', alt="new crypto casinos")
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://payid-casinos.com/', rel='sponsored')
            img(src='https://images.opencollective.com/payid-casinos/05e5b3b/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://payidpokies.net/fast-payout/', rel='sponsored')
            img(src='https://images.opencollective.com/payidpokie-fast-pay/d6fdf72/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://automatenspielex.com/', rel='sponsored')
            img(src='https://codebarbarian-images.s3.amazonaws.com/Automatenspiele+LOGO.png', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://legjobbmagyarcasino.com/', rel='sponsored')
            img(src='https://images.opencollective.com/legjobbmagyarcasinocom/1ede028/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.c19.cl/', rel='sponsored')
            img(src='https://images.opencollective.com/casino-online-chile/91f1057/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://casinorevisor.com/', rel='sponsored')
            img(src='https://images.opencollective.com/casinorevisorcom/f2284bd/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://nongamstopcasinos.net/gb/', rel='sponsored')
            img(src='https://images.opencollective.com/nongamstopcasinosnet/4f744a2/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://casinochileonline.net/', rel='sponsored')
            img(src='https://images.opencollective.com/casinochileonlinenet/52355f7/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://slovenskeonlinecasino.com/', rel='sponsored')
            img(src='https://images.opencollective.com/slovenskeonlinecasinocom/524b90a/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://gymgrit.net/', rel='sponsored')
            img(src='https://images.opencollective.com/gymgrit-net/7c958bf/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://guidebook.betwinner.com/', rel='sponsored')
            img(src='https://images.opencollective.com/guidebook_betwinner_com/6babe60/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://uaeonlinecasino.com/', rel='sponsored')
            img(src='https://images.opencollective.com/uaeonlinecasino-com/3fe8900/avatar/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://casinosinlicenciaespana.com/', rel='sponsored')
            img(src='https://images.opencollective.com/casinos-sin-licencia-en-espana/1edc507/logo/256.png?height=256', style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://nejlepsiceskacasina.com/', rel='sponsored')
            img(src="https://images.opencollective.com/nejlepsiceskacasinacom/3eb2ad7/logo/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://tarkine.org/', rel='sponsored')
            img(src="https://images.opencollective.com/tarkine-casinos/88a1b80/avatar/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://bonus-bez-depozytu.net/', rel='sponsored')
            img(src="https://images.opencollective.com/bonus-bez-depozytu/eedd041/avatar/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://twicsy.com/buy-instagram-followers', rel='sponsored')
            img(src="https://images.opencollective.com/buy-instagram-followers-twicsy/b4c5d7f/logo/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://bedstespiludenomrofus.com/', rel='sponsored')
            img(src="https://images.opencollective.com/bedstespiludenomrofus/2a8e48b/avatar/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://livecasinosgreek.com/', rel='sponsored')
            img(src="https://images.opencollective.com/andrii8/0aa8105/logo/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://lpotouraine.fr/blog/', rel='sponsored')
            img(src="https://images.opencollective.com/lpotouraine/db34145/avatar/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://onlinecasinosgr.com/', rel='sponsored')
            img(src="https://images.opencollective.com/onlinecasinosgr-com/510b9a4/avatar/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.stjamestheatre.co.uk/poker-sites-non-gamstop/', rel='sponsored')
            img(src="https://images.opencollective.com/poker-sites-not-on-gamstop/0e7602d/logo/256.png?height=256", style='max-height: 100px', alt='poker sites not on GamStop')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.vso.org.uk/', rel='sponsored')
            img(src="https://images.opencollective.com/httpswwwvsoorguk/4d256ba/logo/256.png?height=256", style='max-height: 100px', alt='poker sites not on GamStop')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://playfortune.net.br/bonus/100-de-bonus-no-primeiro-deposito/', rel='sponsored')
            img(src="https://images.opencollective.com/https-playfortune-net-br-bonus-100-de-bonus-no-primeiro-deposito/599913a/logo/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://nogamstopcasinos.uk/', rel='sponsored')
            img(src="https://nogamstopcasinos.uk/wp-content/uploads/2025/04/cropped-ngc-logo1.png", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://casinonotongamstop.uk/', rel='sponsored')
            img(src="https://images.opencollective.com/https-casinonotongamstop-uk/fdbaada/logo/256.png?height=256", style='max-height: 100px')
        div.col-lg-4(style='padding: 2em; text-align: center;')
          a(href='https://www.vanguardngr.com/casino/pl/', rel='sponsored')
            img(src="https://images.opencollective.com/vanguardngr-poland/013a911/logo/256.png?height=256", style='max-height: 100px')


      div(style="margin-left: 2em; font-size: 0.9em")
        | Sponsor <a href="https://opencollective.com/thecodebarbarian">The Code Barbarian on OpenCollective</a> to get your company's logo above!
  
  style.
    .native-js {
      visibility: hidden;
      transition: all .25s ease-in-out;
      opacity: 0;
      flex-flow: column nowrap;
      transform: translateY(calc(100% - 35px));
      max-width: 100%;
      }

      .native-show {
      visibility: visible;
      position: fixed;
      width: 100%;
      bottom: 0;
      box-shadow: 0 -1px 4px 1px hsla(0, 0%, 0%, .15);
      opacity: 1;
      z-index: 10;
      }

      .native-show:hover {
      transform: translateY(0);
      }

      .native-img {
      margin-right: 20px;
      max-height: 50px;
      border-radius: 3px;
      width: auto;
      }

      .native-sponsor {
      margin: 10px 20px;
      text-align: center;
      text-transform: uppercase;
      transform-origin: left;
      letter-spacing: .5px;
      transition: all .3s ease-in-out;
      font-size: 12px;
      }

      .native-show:hover .native-sponsor {
      transform: scaleY(0);
      margin: 0 20px;
      opacity: 0;
      }

      .native-flex {
      display: flex;
      padding: 20px 20px 40px;
      text-decoration: none;

      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      }

      .native-main {
      display: flex;

      flex-flow: row nowrap;
      align-items: center;
      }

      .native-details {
      display: flex;
      margin-right: 30px;

      flex-flow: column nowrap;
      }

      .native-company {
      margin-bottom: 4px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
      }

      .native-desc {
      letter-spacing: 1px;
      font-weight: 300;
      line-height: 1.4;
      }

      .native-cta {
      padding: 10px 14px;
      border-radius: 3px;
      box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 12px;
      transition: all .3s ease-in-out;
      transform: translateY(-1px);
      }

      .native-cta:hover {
      box-shadow: none;
      transform: translateY(1px);
      }

      @media only screen and (min-width: 320px) and (max-width: 759px) {
      .native-flex {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .native-img {
        margin: 0;
      }

      .native-details {
        margin: 0;
      }

      .native-main {
        margin-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
      }
      }
