html
  head
    script(type="text/javascript").
      var _sf_startpt=(new Date()).getTime()

    block title
      title www.thecodebarbarian.com
    meta( name="viewport" content="width=device-width, initial-scale=1")
    link( href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
          rel="stylesheet"
          type="text/css")
    link( href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600',
          rel='stylesheet',
          type='text/css')
    link( href='//fonts.googleapis.com/css?family=Merriweather:400,400italic,600,700',
          rel='stylesheet',
          type='text/css')
    link( href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css',
          rel='stylesheet')
    link( href="/style/style.css",
          rel="stylesheet"
          type="text/css")
    link( href="/style/github.css",
          rel="stylesheet"
          type="text/css")
    script( href='http://code.jquery.com/jquery-2.1.1.min.js', type='text/javascript')
    script( href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    script( href='/javascript/sidebar.js', type='text/javascript')

    block opengraphTags

  body
    .navbar.social-links.hidden-sm.hidden-xs
      div.container
        ul.nav.navbar-nav.navbar-right
            li
              a(href="http://www.twitter.com/code_barbarian") twitter
            li
              a(href="http://www.github.com/vkarpov15") github
            li
              a(href="http://thecodebarbarian.com/feed.xml") rss

    #nav.navbar
      .container
        .navbar-header
          a.navbar-brand.big-brand(href="http://thecodebarbarian.com")
            img.logo(src='/images/Barbarian_Head.png')
            span.site-name The Code Barbarian
        .navbar-right.collapse.navbar-collapse#home-nav-mobile
          ul.nav.navbar-nav
            li
              a(href='http://thecodebarbarian.com/tag/mongodb.html') MongoDB
            li
              a(href='http://thecodebarbarian.com/tag/angularjs.html') AngularJS
            li
              a(href='http://thecodebarbarian.com/tag/nodejs.html') NodeJS
            li
              a(href='http://thecodebarbarian.com/tag/paleo.html') Paleo
            li.hidden-md.hidden-lg
              a(href='#') @code_barbarian
            li.hidden-md.hidden-lg
              a(href='#') TCB Github
            li.hidden-md.hidden-lg
              a(href='#') TCB Facebook

    div.container-fluid
      - if (!!post)
        div.col-lg-3.col-lg-offset-9.right-bar#desktop-right-bar
          .right-bar-content-slider.pull-right
            .row.search-container
                .col-lg-12
                  .form-group
                  label Search
                  form(onsubmit="window.location.href = 'https://www.google.im/search?q=' + encodeURIComponent(document.getElementById('searchQ').value) + '+site:thecodebarbarian.com'; return false;",)
                    .input-group
                      input.form-control#searchQ(type="text")
                      .input-group-addon.search-button
                        i.fa.fa-search
            .row.recent-posts.right-bar-group
              .col-lg-12.books
                div
                  a(href="https://www.patreon.com/codebarbarian")
                    img(src="https://i.imgur.com/48Z01Md.png")
                div
                  a(href="http://es2015generators.com")
                    img(src="https://i.imgur.com/xvGNKlr.png")
                div
                  script( type="text/javascript"
                          src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=thecodebarbariancom"
                          id="_carbonads_js")
            .row.recent-posts.right-bar-group
              .col-lg-12
                p.right-bar-label Most Popular
                ul.list-unstyled
                  li.right-bar-li
                    a(href="http://thecodebarbarian.com/common-async-await-design-patterns-in-node.js.html")
                      | Common Async/Await Design Patterns in Node.js
                  li.right-bar-li
                    a(href="http://thecodebarbarian.com/unhandled-promise-rejections-in-node.js.html")
                      | Unhandled Promise Rejections in Node.js
                  li.right-bar-li
                    a(href="http://thecodebarbarian.com/80-20-guide-to-async-await-in-node.js.html")
                      | The 80/20 Guide to Async/Await in Node.js
                  li.right-bar-li
                    a(href="http://thecodebarbarian.com/getting-started-with-webassembly-in-node.js.html")
                      | Getting Started With WebAssembly in Node.js
                  li.right-bar-li
                    a(href="http://thecodebarbarian.com/2015/01/24/angularjs-interceptors.html")
                      | An 80/20 Guide to AngularJS HTTP Interceptors
    div.container-fluid.hidden-sm.hidden-md.hidden-lg#mobile-sharing-options
      .row
        .col-lg-12
          block mobile_sharing

    block content

    div(style="padding-bottom: 100px") &nbsp;

    block analytics
      script(type="text/javascript").
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
          analytics.load("5DErrxzVhprg8sNh8xaiKDR6dNa7yGTI");
          analytics.page()
        }}();
