extends layout

block title
  title #{tag} | www.thecodebarbarian.com

append analytics
  link(rel="stylesheet", href="/style/flexcpc.css")

block content
  div#carbonads-fixed
    script( type="text/javascript"
            src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=thecodebarbariancom"
            id="_carbonads_js")
  div.container
    div.row
      div.col-lg-9
        each post in posts
          div.container-fluid
            div.row
              h2
                a(href=post.dest.directory.substr('./bin'.length) + '/' + post.dest.name + '.html')
                  | #{post.title}
              div.title-byline-container
                div.credits
                  | #{post.date.format('MMMM DD, YYYY')}
            div.row
              div.col-lg-3
                img(src=post.image || '/images/Barbarian_Head.png',
                    style="width: 100%")
              div.col-lg-9
                em !{post.preview}
    div.row
      - if (pageNum > 1)
        div.pull-left
          a(href='/page/' + (pageNum - 1) + '.html') << Newer Articles
      - if (pageNum && !isLastPage)
        div.pull-right
          a(href='/page/' + (pageNum + 1) + '.html') Older Articles >>

  style.
    .native-js {
      visibility: hidden;
      transition: all .25s ease-in-out;
      opacity: 0;
      flex-flow: column nowrap;
      transform: translateY(calc(100% - 35px));
      max-width: 100%;
      }

      .native-show {
      visibility: visible;
      position: fixed;
      width: 100%;
      bottom: 0;
      box-shadow: 0 -1px 4px 1px hsla(0, 0%, 0%, .15);
      opacity: 1;
      z-index: 10;
      }

      .native-show:hover {
      transform: translateY(0);
      }

      .native-img {
      margin-right: 20px;
      max-height: 50px;
      border-radius: 3px;
      width: auto;
      }

      .native-sponsor {
      margin: 10px 20px;
      text-align: center;
      text-transform: uppercase;
      transform-origin: left;
      letter-spacing: .5px;
      transition: all .3s ease-in-out;
      font-size: 12px;
      }

      .native-show:hover .native-sponsor {
      transform: scaleY(0);
      margin: 0 20px;
      opacity: 0;
      }

      .native-flex {
      display: flex;
      padding: 20px 20px 40px;
      text-decoration: none;

      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      }

      .native-main {
      display: flex;

      flex-flow: row nowrap;
      align-items: center;
      }

      .native-details {
      display: flex;
      margin-right: 30px;

      flex-flow: column nowrap;
      }

      .native-company {
      margin-bottom: 4px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
      }

      .native-desc {
      letter-spacing: 1px;
      font-weight: 300;
      line-height: 1.4;
      }

      .native-cta {
      padding: 10px 14px;
      border-radius: 3px;
      box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 12px;
      transition: all .3s ease-in-out;
      transform: translateY(-1px);
      }

      .native-cta:hover {
      box-shadow: none;
      transform: translateY(1px);
      }

      @media only screen and (min-width: 320px) and (max-width: 759px) {
      .native-flex {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .native-img {
        margin: 0;
      }

      .native-details {
        margin: 0;
      }

      .native-main {
        margin-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-content: center;
      }
      }

  div(class="native-js").
    <script type="text/javascript" src="/js/native.js"></script>

    <script type="text/javascript">
      _native.init("CK7DT53N", {
        targetClass: 'native-js',
        display: 'flex',
        visibleClass: 'native-show'
      });
    </script>

    <div class="native-sponsor">Sponsored by #native_company# - Learn More</div>
    <a href="#native_link#" class="native-flex">
      <style>
      .native-js {
        background: linear-gradient(-30deg, #native_bg_color#E5, #native_bg_color#E5 45%, #native_bg_color# 45%) #fff;
      }

      .native-details,
      .native-sponsor,
      .native-bsa {
        color: #native_color# !important;
      }

      .native-details:hover {
        color: #native_color_hover# !important;
      }

      .native-cta {
        color: #native_cta_color#;
        background-color: #native_cta_bg_color#;
      }

      .native-cta:hover {
        color: #native_cta_color_hover;
        background-color: #native_cta_bg_color_hover#;
      }
      </style>
      <div class="native-main">
        <img class="native-img" src="#native_logo#">
        <div class="native-details">
          <span class="native-company">#native_title#</span>
          <span class="native-desc">#native_desc#</span>
        </div>
      </div>
      <span class="native-cta">#native_cta#</span>
    </a>
