html
  head
    title #{post.title} | www.thecodebarbarian.com
    link( href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
          rel="stylesheet"
          type="text/css")
    link( href="/style/style.css",
          rel="stylesheet"
          type="text/css")
    link( href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600',
          rel='stylesheet',
          type='text/css')
    link( href='//fonts.googleapis.com/css?family=Merriweather:400,600',
          rel='stylesheet',
          type='text/css')
    script( href='http://code.jquery.com/jquery-2.1.1.min.js',
            type='text/javascript')
    script( href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js',
            type='text/javascript')
  body
    .navbar.social-links.hidden-sm.hidden-xs
      div.container
        ul.nav.navbar-nav.navbar-right
            li
              a(href="#") twitter
            li
              a(href="#") github
            li
              a(href="#") facebook
    
    #nav.navbar
      .container
        .navbar-header
          button.btn.btn-default.navbar-toggle(type="button", data-toggle="collapse", data-target="#home-nav-mobile")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.big-brand(href="/") 
            img.logo(src='/images/Barbarian_Head.png')
            span.site-name The Code Barbarian  
        .navbar-right.collapse.navbar-collapse#home-nav-mobile
          ul.nav.navbar-nav
            li 
              a(href='#') MongoDB
            li 
              a(href='#') ExpressJS
            li 
              a(href='#') AngularJS
            li 
              a(href='#') NodeJS
            li.hidden-md.hidden-lg
              a(href='#') @code_barbarian
            li.hidden-md.hidden-lg
              a(href='#') TCB Github
            li.hidden-md.hidden-lg
              a(href='#') TCB Facebook


    div.container
      div.col-lg-9
        | !{content}
      div.col-lg-3.right-bar
        h2 Search