html
  head
    title #{post.title} | www.thecodebarbarian.com
    link( href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css",
          rel="stylesheet"
          type="text/css")
    link( href="/style/style.css",
          rel="stylesheet"
          type="text/css")
    link( href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600',
          rel='stylesheet',
          type='text/css')
    link( href='//fonts.googleapis.com/css?family=Merriweather:400,600',
          rel='stylesheet',
          type='text/css')

  body
    navbar.social-links
      div.container
        ul.nav.navbar-nav.navbar-right
            li
              a(href="#") twitter
            li
              a(href="#") github
            li
              a(href="#") facebook
    
    #nav.navbar
      .container
        .navbar-header
          .btn.btn-default.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.big-brand(href="/") 
            img(src='/images/Barbarian_Head.png')
            | The Code Barbarian
        .navbar-right
          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
              li 
                a MongoDB
              li 
                a ExpressJS
              li 
                a AngularJS
              li 
                a Node.js

    div.container
      div.col-lg-9
        | !{content}
      div.col-lg-3.right-bar
        h2 Search

