extends layout

block title
  title #{post.title} | www.thecodebarbarian.com

block opengraphTags
  meta( property="og:title",
        content="#{post.title}")
  meta( property="og:url",
        content="http://www.thecodebarbarian.com#{post.dest.directory.substr('./bin'.length)}/#{post.dest.name}")
  meta( property="og:image",
        content="#{post.image || '/images/Barbarian_Head.png'}")
  meta( property="og:site_name",
        content="The Code Barbarian")

append analytics
  link(rel="stylesheet", href="/style/inlinecpc.css")

block mobile_sharing
  style.
    #home-nav-mobile {
      float: left !important;
      margin-left: 215px !important;
    }

  .post-sharing-options
    .row
      .col-xs-3.twitter-share.sharing-option
        a.social(href="https://twitter.com/share?url=#{encodeURIComponent('http://www.thecodebarbarian.com' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}&via=code_barbarian")
          i.fa.fa-twitter
      .col-xs-3.facebook-share.sharing-option
        a.social(href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent('http://www.thecodebarbarian.com/' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}")
          i.fa.fa-facebook
      .col-xs-3.google-share.sharing-option
        a.social(href="https://plus.google.com/share?url=#{encodeURIComponent('http://www.thecodebarbarian.com/' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}")
          i.fa.fa-google-plus
      .col-xs-3.comment.sharing-option
        a.social(href="#disqus_thread")
          i.fa.fa-comment

block content
  .post-sharing-options.hidden-xs.pull-left#desktop-sharing-options
    ul.list-unstyled
      li.twitter-share
        a.social(href="https://twitter.com/share?url=#{encodeURIComponent('http://www.thecodebarbarian.com' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}&via=code_barbarian")
          i.fa.fa-twitter.sharing-option
      li.facebook-share
        a.social(href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent('http://www.thecodebarbarian.com/' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}")
          i.fa.fa-facebook.sharing-option
      li.google-share
        a.social(href="https://plus.google.com/share?url=#{encodeURIComponent('http://www.thecodebarbarian.com/' + post.dest.directory.substr('./bin'.length) + '/' + post.dest.name)}")
          i.fa.fa-google-plus.sharing-option
  div.container
    div.col-lg-9.post-text
      .row
        .title-byline-container
          h1.post-title #{post.title}
          .credits
            span.byline by Valeri Karpov
            span.byhandle
              a(href="http://www.twitter.com/code_barbarian") @code_barbarian
            span.bydate #{post.date.format('MMMM DD, YYYY')}
        - if (post.code)
          a(href="#{post.code}")
            .source-code-button
              .btn.btn-orange.btn-block
                i.fa.fa-github-alt
                span.hidden-lg.hidden-md.hidden-sm View the Code on Github
                span.hidden-xs View the Code for this Post on Github

      script(type="text/javascript", src="/js/native.js")
      div.
        <script>
          _native.init("CK7DT53N",{
            targetClass: 'native-inline'
          });
        </script>

        <div class="native-inline">
          <a href="#native_link#"><span class="sponsor">Sponsor</span> #native_company# - #native_desc#</a>
        </div>

      div.post-body-text-container !{content}

      div(style="color: #666666; border-top: 1px dashed #666666; margin: 25px; text-align: center; padding-top: 10px")
        em
          | Found a typo or error? Open up a pull request! This post is
          | available as markdown on&nbsp;
          a(href="https://github.com/vkarpov15/thecodebarbarian.com/blob/master/lib/posts/#{post.src.substr('./lib/posts/'.length)}")
            | Github

      div#disqus_thread
      script(type="text/javascript").
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'codebarbarian'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      a(href="http://disqus.com" class="dsq-brlink") comments powered by <span class="logo-disqus">Disqus</span>
